@font-face {
    font-family: 'Kumbh';
    src: url('fonts/KumbhSans-Medium.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Kumbh";
    font-weight: 400;
    font-size: 14px;
    color: hsl(237, 12%, 33%);
}

.attribution { position: absolute; bottom: 0px; font-size: 15px; text-align: center; color: hsl(0, 0%, 100%);}
.attribution a { color: hsl(224, 100%, 87%); font-size: 15px }

.woman_mobile,.bg_mobile{ display: none; }

.answer{ display: none;}

body
{
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 65%;
    height: 65%;

    background-color: white;
    border-radius: 2rem;

    background-color: white;
    background-image: url("images/bg-pattern-desktop.svg");
    background-position-x: -590px;
    background-position-y: -280px;
    background-repeat: no-repeat;

    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

/*--------------IMAGES PANNEL--------------*/
.images
{
    width: 50%;
    overflow: hidden;
}
.woman_desktop
{
    margin-left: -100px;
}
.box_desktop
{   
    position: absolute;
    transform: translateX(-33vw) translateY(15%);
}

/*--------------QUESTION PANNEL--------------*/
.faq
{
    height: 100%;
    width: 40%;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1
{
    color: black;
    font-size: xx-large;
    font-weight: bold;

    margin-bottom: 15%;
}

.question
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.question:hover
{
    cursor: pointer;
}
.question div:hover
{
    color: hsl(14, 88%, 65%);
}
.question div:focus
{
    font-weight: bold;
    color: black;
}

.arrow
{
    height: 8px;
    width: 10px;
}

.answer
{
    font-size: 13px;
    margin-top: 4%;
}

.separator
{
    background-color: hsl(240, 5%, 91%);
    height: 1px;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media all and (max-width: 650px)
{
    * { font-size: 13px;}

    .attribution { position:absolute; bottom: 5px; font-size: 15px; }

    body {
        width: 100%;
        height: auto;
      }

    main
    {
        flex-direction: column;
        margin: 10rem 2rem;
        width: 90%;
        height: auto;
        min-height: 70%;
        justify-content: center;
        align-items: center;
        background-image: url("images/bg-pattern-mobile.svg");
        background-position: center top;
        position: relative;
    }

    /*-------------- IMAGES -----------------*/
    .box_desktop, .bg_desktop, .woman_desktop {display: none;}
    .images
    {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 40%;
        
        position: absolute;
        top: -22%;

        overflow: visible;
    }
    .woman_mobile
    {
        display: flex;
        margin-right: 10%;
    }

    /*------------MAIN CONTENT-------------*/
    .faq
    {
        height: 50%;
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 9%;
        margin-top: 30%;
    }
    h1 
    {
        text-align: center;
        margin-bottom: 15%;
    }
}